html,
body {
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.toggle-classes {
    text-decoration: line-through;
    color: #f00;
}

.nowrap {
    white-space: nowrap;
}